@model UNLZ.Turnera.Web.Models.TurnoModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cancelar Turno</h1>

<h3>¿Estás seguro de que desea Cancelar este Turno?</h3>
<div>
    
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            ID Turno
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.model.IdTurno)
        </dd>

        <dt class="col-sm-2">Paciente</dt>
        <dd class="col-sm-10">@ViewData["NombrePacienteDni"]</dd>

        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">@ViewData["FechaCreacion"]</dd>
        
        <dt class="col-sm-2">Hora</dt>
        <dd class="col-sm-10">@ViewData["HoraCreacion"]</dd>

        <dt class="col-sm-2">Profesional </dt>
        <dd class="col-sm-10">@ViewData["ProfesionalEspecialidad"]</dd>

        <dt class="col-sm-2">Disponibilidad</dt>
        <dd class="col-sm-10">@ViewData["DisponibilidadHorario"]</dd>

        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.model.EstadoTurno)
        </dd>
    </dl>

    
    <div class="form-group">
        <form asp-action="Delete" method="post">
            <input type="hidden" name="idTurno" value="@Model.model.IdTurno" />
            <button type="submit" class="btn btn-danger mt-1">Cancelar</button>
        </form>
        <a asp-action="Index" class="btn btn-secondary mt-1">Volver al listado</a>
    </div>
</div>
