@model IEnumerable<UNLZ.Turnera.Manager.Entidades.Profesional>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Profesionales</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Agregar Profesional</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEspecialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdProfesional }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdProfesional }, new { @class = "btn btn-primary btn-sm" })
                    @if (item.Estado == "Inactivo")
                    {
                        <button class="btn btn-secondary btn-sm" disabled>Dar de baja</button>
                    }
                    else
                    {
                        @Html.ActionLink("Dar de baja", "Delete", new { id = item.IdProfesional }, new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
